.path-header {
    height: 60px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    border-top: 2px solid #3437364d;
    border-bottom: 2px solid #3437364d;
    background-color:  #57A6A8;
    color: #eee;
    padding: 10px 10px;
    border-bottom: solid 2px #fc5c5d;
   
}

.path-header__logo {
    font-size: 16px;
    color: #eee;
}

.Path__button{
    background: inherit;
    font: inherit;
    border: 1px solid #3437364d;
    color: #eee;
    padding: 3px 5px;
    border-radius: 4px;
    float: right;
    transition: transform .2s;
    box-shadow:0 5px 10px 0 rgba(46, 61, 73, 0.12);
    margin:-45px 18px 10px 0px;
}

.Path__button:hover{
    transform: scale(1.2);
    border: 1px solid #eee;
    color: #343736;
}

.Path__input{
    font: inherit;
    border: 1px solid #3437364d;   
    padding: 3px 5px;
    border-radius: 4px;
    float: right;
    transition: transform .2s;
    box-shadow:0 5px 10px 0 rgba(46, 61, 73, 0.12);
    margin: -45px 120px 10px 0px; 
    width: 20%;
}
