
.module{
  /* background-color: rgb(197, 214, 214); */
  border: 2px solid rgb(116, 110, 110); 
  margin: 20px ;
  border-radius: 0.8rem;
  list-style: none;
  padding: 0.5rem;

}
.module:hover {
  background-color: yellowgreen;
} 
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}


.module__contents__stage strong {
  font-weight: bold;
}

.module__contents__stage em {
  font-style: italic;
}

.module__contents__stage u {
  text-decoration: underline;
}

.module__contents__stage img {
  max-width: 100%;
}

.module__contents__stage iframe {
  width: 100%;
  height: 48rem;
}